<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>修改活動資料</title>
    <style>
        a, a:visited {
            text-decoration: none;
            color: blue;
        }

        button {
            margin: 0 20px 0 35px;
        }

        img {
            width: 16vw;
            height: 16vw;
        }
    </style>
</head>

<body style="background-color: #fdf5e6">
<div align="center">
    <h2>修改活動資料</h2>
    <form method="post" action="/promotions/promotions/update">
        <input type="hidden" name="_method" value="PUT"/>
        <table>
            <tr>
                <td>活動編號</td>
                <td><input type="text" name="promotions_id" th:value="${promotions.promotions_id}" readonly></td>
            </tr>
            <tr>
                <td>活動名稱</td>
                <td><input type="text" name="promotions_name" th:value="${promotions.promotions_name}"></td>
            </tr>
            <tr>
                <td>活動內容</td>
                <td><input type="text" name="promotions_content" th:value="${promotions.promotions_content}"></td>
            </tr>
            <tr>
                <td>活動圖片</td>
                <td><input type="text" name="promotions_picture" th:value="${promotions.promotions_picture}"></td>
            </tr>
            <tr>
                <td>活動折扣</td>
                <td><input type="text" name="promotions_discount" th:value="${promotions.promotions_discount}"></td>
            </tr>
            <tr>
                <td>折扣碼</td>
                <td><input type="text" name="promotions_discountcode" th:value="${promotions.promotions_discountcode}"></td>
            </tr>
            <tr>
                <td>開始日期</td>
                <td><input type="text" name="promotions_startdate" th:value="${promotions.promotions_startdate}"></td>
            </tr>
            <tr>
                <td>結束日期</td>
                <td><input type="text" name="promotions_enddate" th:value="${promotions.promotions_enddate}"></td>
            </tr>
        </table>
        <button type="submit">更新</button>
        <a href="/promotions/promotionsMain">查詢所有活動</a>
    </form>
</div>
</body>

</html>
