<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>外送明細</title>
  <link rel="shortcut icon" type="image/png" href="../../../static/images/logos/favicon.png" />
  <link rel="stylesheet" href="../../../static/back/css/styles.min.css" />

  <!--若有自己的css，請在此引入
    <link rel="stylesheet" href="../../../static/back/css/promotions/GetAll.css">-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

/* th {
    background-color: #4CAF50;
    color: white;
} */

th {
    background-color: blue;
    color: white;
}

th {
    background-color: blue;
    color: white;
}

/* .btn {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #cc0000;
} */

/* .pimg {
    width: 12vw;
    height: 12vw;
} */
</style>

<body>
     <!--  Body Wrapper -->
     <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
     <!-- Sidebar Start -->
     <aside class="left-sidebar">
       <!-- Sidebar scroll-->
       <div>
         <div class="brand-logo d-flex align-items-center justify-content-between">
           <a href="./index.html" class="text-nowrap logo-img">
             <img src="../../../static/images/indexImages/DonerPizzaSmall.png" width="180" alt="" />
             <link rel="shortcut icon" type="image/png" href="../../../static/images/logos/favicon.png" />
           </a>
           <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
             <i class="ti ti-x fs-8"></i>
           </div>
         </div>
         <!-- Sidebar navigation-->
         <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
           <ul id="sidebarnav">
             <li class="nav-small-cap"><i class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
                 class="hide-menu">後台功能列表</span></li>
                 <li class="sidebar-item"><a class="sidebar-link" href="/delivery/home"
                   aria-expanded="false"> <span> <i class="ti ti-file-description"></i>
                   </span> <span class="hide-menu">外送管理功能</span>
                 </a>
               </li>
               <li class="sidebar-item"><a class="sidebar-link" href="/delivery/emp"
                 aria-expanded="false"> <span> <i class="ti ti-file-description"></i>
                 </span> <span class="hide-menu">外送員管理</span>
               </a>
             </li>
             <li class="nav-small-cap"><i class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
                 class="hide-menu">其他功能列表</span></li>
                 <li class="sidebar-item"><a class="sidebar-link" href="/emp/Member.SelectAll/1"
                 aria-expanded="false"> <span>
                   <i class="ti ti-layout-dashboard"></i>
                 </span> <span class="hide-menu">會員管理功能</span>
               </a></li>
             <li class="sidebar-item"><a class="sidebar-link" href="/product/Product_Test_Main"
                 aria-expanded="false"> <span>
                   <i class="ti ti-article"></i>
                 </span> <span class="hide-menu">產品管理功能</span>
               </a></li>
             <li class="sidebar-item"><a class="sidebar-link" href="/order/order.action"
                 aria-expanded="false"> <span>
                   <i class="ti ti-alert-circle"></i>
                 </span> <span class="hide-menu">訂單管理功能</span>
               </a></li>
             <li class="sidebar-item"><a class="sidebar-link"
                 href="/reservation/reservemain.controller" aria-expanded="false"> <span> <i
                     class="ti ti-cards"></i>
                 </span> <span class="hide-menu">訂位管理功能</span>
               </a></li>
             
             <li class="sidebar-item"><a class="sidebar-link" href="/promotions/promotionsMain"
                 aria-expanded="false"> <span>
                   <i class="ti ti-typography"></i>
                 </span> <span class="hide-menu">活動管理功能</span>
               </a></li>
             <li class="sidebar-item"><a class="sidebar-link" href="/emp/EmpGoBackToEmpIndex"
                 aria-expanded="false"> <span>
                   <i class="ti ti-typography"></i>
                 </span> <span class="hide-menu">返回主頁</span>
               </a></li>
           </ul>
         </nav>
         <!-- End Sidebar navigation -->
       </div>
       <!-- End Sidebar scroll-->
     </aside>
     <!--  Sidebar End -->
   <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <!-- <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none"><a class="nav-link sidebartoggler nav-icon-hover"
              id="headerCollapse" href="javascript:void(0)"> <i class="ti ti-menu-2"></i>
            </a></li>
          <li class="nav-item"><a class="nav-link nav-icon-hover" href="javascript:void(0)"> <i
                class="ti ti-bell-ringing"></i>
              <div class="notification bg-primary rounded-circle"></div>
            </a></li>
        </ul> -->
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <li class="nav-item dropdown"><a class="nav-link nav-icon-hover"
                href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                aria-expanded="false">
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                aria-labelledby="drop2">
                <div class="message-body">
                  <a href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"> <i
                      class="ti ti-user fs-6"></i>
                    <p class="mb-0 fs-3">My Profile</p>
                  </a> <a href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"> <i
                      class="ti ti-mail fs-6"></i>
                    <p class="mb-0 fs-3">My Account</p>
                  </a>
                  </a> <a href="javascript:void(0)"
                    class="d-flex align-items-center gap-2 dropdown-item"> <i
                      class="ti ti-list-check fs-6"></i>
                    <p class="mb-0 fs-3">My Task</p>
                  </a> <a href="/emp/logout"
                    class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!--  Header End -->
       <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div align="center">
                    <h2>外送明細</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>明細編號</th>
                                    <th>產品</th>
                                    <th>單價</th>
                                    <th>數量</th>
                                    <th>總價</th>
                                    <th>時間</th>
                                </tr>
                                顧客姓名:<span th:text="${customer}"></span>
                            </thead>
                            <tbody>
                          
                            <tr th:each="OrderDetails : ${OrderDetails}">
                                <td th:text="${OrderDetails.orderId}"></td>
                                <td th:text="${OrderDetails.product}"></td>
                                <td th:text="${OrderDetails.unitPrice}"></td>
                                <td th:text="${OrderDetails.quantity}"></td>
                                <td th:text="${OrderDetails.unitPrice} * ${OrderDetails.quantity}"></td>
                                <td th:text="${#strings.substring(OrderDetails.order.orderTime, 0, 19)}"></td>
                            </tr>
                        </table>
                        <div>
                            總金額:<span th:text="${total}"></span>
                        </div>
                        <button id="back">回上頁</button>
                    </div>
                </div>
          </div>
      </div>
   
  <script src="../../../static/back/libs/jquery/dist/jquery.min.js"></script>
  <script src="../../../static/back/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../static/back/js/sidebarmenu.js"></script>
  <script src="../../../static/back/js/app.min.js"></script>
  <script src="../../../static/back/libs/simplebar/dist/simplebar.js"></script>
  <script>
    $('#back').click(function(){
      let url = '/delivery/home';
      location.href= url ;
    })
  </script>
</body>

</html>